<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <style type="text/css">
        * {margin: 0;padding: 0;}
        html {height: 100%}
        body {height: 100%;overflow-y: scroll}
        .footer {
            margin-top: -165px !important;
            height: 165px !important;
        }
        .main {
            padding-bottom: 165px !important;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <div class="main">
        <!-- 导航栏 -->
        <nav th:replace="admin/_fragments :: nav(1)"></nav>
        <div class="ui attached pointing menu">
            <div class="ui container">
                <div class="right menu">
                    <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
                    <a href="#" th:href="@{/admin/blogs}" class="active item">列表</a>
                </div>
            </div>
        </div>

        <!-- 中间内容 -->
        <div class="m-padding-tb-massive">
            <div class="ui container">
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${message}">恭喜，操作成功！</p>
                </div>
                <div class="ui grid">
                    <div class="four wide column">
                        <form action="#" th:action="@{/admin/blogs/search}" method="POST" class="ui secondary segment form">
                                <div class="field">
                                    <input type="text" name="title" placeholder="标题">
                                </div>
                                <div class="field">
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="typeId">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">分类</div>
                                        <div class="menu">
                                            <div class="item" th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inline fields">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" id="recommend" name="recommend">
                                            <label for="recommend">推荐</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" id="publish" name="publish">
                                            <label for="publish">发布</label>
                                        </div>
                                    </div>
                                    <div class="right aligned field">
                                        <button class="ui mini teal basic button" type="submit"><i class="search icon"></i>搜索</button>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="twelve wide column">
                        <table class="ui center aligned compact teal table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>标题</th>
                                <th>类型</th>
                                <th>推荐</th>
                                <th>发布</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="blog : ${pageInfo.list}">
                                <td th:text="${blogStat.count} + ${(pageInfo.pageNum - 1) * 6}">1</td>
                                <td th:text="${blog.title}">刻意练习清单</td>
                                <td th:text="${blog.type.name}">认知升级</td>
                                <td th:text="${blog.recommend == 1 ? '是' : '否'}">是</td>
                                <td th:text="${blog.publish == 1 ? '发布' : '保存'}"></td>
                                <td th:text="${#dates.format(blog.getUpdateTime(),'yyyy-MM-dd')}">2020-07-22 09:45</td>
                                <td>
                                    <a href="#" th:href="@{/admin/blogs/{id}/update(id=${blog.id})}" class="ui mini teal button">编辑</a>
                                    <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="7">
                                    <div class="ui menu pagination">
                                        <a class="item" th:href="@{/admin/blogs(p=1)}">首页</a>
                                        <a class="icon item" th:href="@{/admin/blogs(p=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"><i class="left chevron icon"></i></a>
                                        <div class="item m-inline-block">
                                            <p>第<span th:text="${pageInfo.pageNum}"></span>页，共<span th:text="${pageInfo.pages}"></span>页</p>
                                        </div>
                                        <a class="icon item" th:href="@{/admin/blogs(p=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"><i class="right chevron icon"></i></a>
                                        <a class="item" th:href="@{/admin/blogs(p=${pageInfo.pages})}">尾页</a>
                                    </div>
                                </th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <!-- 底部元素 -->
        <footer th:replace="_fragments :: footer"></footer>

        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script th:src="@{/js/me.js}"></script>
        <script>
            //消息提示关闭初始化
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            });
        </script>
    </div>

</body>
</html>