<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <style type="text/css">
        * {margin: 0;padding: 0;}
        html {height: 100%}
        body {height: 100%;overflow-y: scroll}
        .footer {
            margin-top: -165px !important;
            height: 165px !important;
        }
        .main {
            padding-bottom: 165px !important;
            min-height: 100%;
        }
    </style>
</head>
<body>
    <div class="main">
        <!-- 导航栏 -->
        <nav th:replace="admin/_fragments :: nav(0)"></nav>

        <!-- 中间内容 -->
        <div class="m-padding-tb-massive">
            <div class="ui container">
                <div class="ui success large message">
                    <h3>Hi</h3>
                    <p>登录成功</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <!-- 底部元素 -->
        <footer th:replace="_fragments :: footer"></footer>
    </div>


    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script th:src="@{/js/me.js}"></script>

</body>
</html>