<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
    <!-- 导航栏 -->
    <nav th:replace="_fragments :: nav(4)"></nav>

    <!-- 中间内容 -->
    <div class="m-padding-tb-massive">
        <div class="ui container" style="max-width: 50em !important">
            <div class="m-padding-tb-large" th:each="blogList : ${blogs}">
                <h2 class="ui center aligned header" th:text="${blogList.get(0).year}">2020</h2>
                <div class="ui secondary fluid vertical menu" th:each="blog : ${blogList}">
                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item">
                        <span>
                            <i class="mini minus icon" style="margin-right: 3em"></i>
                            <span th:text="${blog.title}"></span>
                        </span>
                        <div class="ui orange basic label" th:text="${blog.flag}">原创</div>
                        <div class="ui teal basic label" style="margin-left: 1em;" th:text="${#dates.format(blog.createTime, 'MM-dd')}">09-09</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部元素 -->
    <footer th:replace="_fragments :: footer"></footer>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script th:src="@{/js/me.js}"></script>

</body>
</html>