<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/typo.css}">
    <link rel="stylesheet" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
    <!-- 导航栏 -->
    <nav th:replace="_fragments :: nav(6)"></nav>

    <!-- 中间内容 -->
    <div class="m-padding-tb-massive">
        <div class="ui container">
            <div class="ui grid">
                <div class="two wide column"></div>
                <div class="twelve wide column">
                    <div class="ui top attached segment">
                        <div class="ui horizontal link list">
                            <div class="item">
                                <img th:src="@{${blog.avatar}}" alt="" class="ui avatar image">
                                <div class="content"><a th:text="${blog.nickname}" class="header">wjw</a></div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <i class="calendar icon"></i>
                                    <span th:text="'更新时间：' + ${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <i class="eye icon"></i>
                                    <span th:text="${blog.views}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <!-- 图片 -->
                        <img class="ui fluid rounded image" th:src="@{${blog.firstPicture}}" alt="">
                    </div>
                    <div class="ui attached segment">
                        <!-- 正文 -->
                        <div th:utext="${blog.content}" class="typo typo-selection m-padding-lr-responsive m-padding-tb-content-response"></div>
                        <!-- 标签 -->
                        <div class="m-padding-lr-responsive" th:each="tag : ${blog.tags}">
                            <div class="ui teal basic label" th:text="${tag.name}">标签</div>
                        </div>
                        <br><br>
                    </div>
                    <div class="ui attached positive message" th:if="${blog.flag} == '原创'">
                        <!-- 博客信息 -->
                        <ui class="list">
                            <li>作者：<span th:text="${blog.nickname}"></span></li>
                            <li>版权声明：本文为本站原创文章</li>
                            <li>转载请注明作者与原文链接，且不得篡改原文内容</li>
                        </ui>
                    </div>
                    <div class="ui bottom attached segment" th:if="${blog.comment}">
                        <!-- 评论区域 -->
                        <div id="comment-container" class="ui teal segment">
                            <div th:fragment="commentList">
                                <div class="ui threaded comments" style="max-width: 100%">
                                    <h3 class="ui dividing header">评论</h3>
                                    <div class="comment" th:each="comment : ${comments}">
                                        <a class="avatar">
                                            <img src="https://picsum.photos/id/237/100/100" th:src="${comment.avatar}">
                                        </a>
                                        <div class="content">
                                            <a class="author" >
                                                <span th:text="${comment.nickname}">Matt</span>
                                                <div th:if="${comment.nickname == 'wjw'}" class="ui basic teal left pointing label" style="padding: 3px">作者</div>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                            </div>
                                            <div class="text" th:text="${comment.content}">太赞了！ </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                        <div class="comments" th:if="${comment.replyComments.size()} > 0">
                                            <div class="comment" th:each="reply : ${comment.replyComments}">
                                                <a class="avatar">
                                                    <img src="https://picsum.photos/id/237/100/100" th:src="${reply.avatar}">
                                                </a>
                                                <div class="content">
                                                    <a class="author" >
                                                        <span th:text="${reply.nickname}">Matt</span>
                                                        <div th:if="${reply.nickname == 'wjw'}" class="ui basic teal left pointing label" style="padding: 3px">作者</div>
                                                        <span th:text="'@' + ${reply.parentComment.nickname}" style="color: teal"></span>
                                                    </a>
                                                    <div class="metadata">
                                                        <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">今天下午 5:42</span>
                                                    </div>
                                                    <div class="text" th:text="${reply.content}">太赞了！ </div>
                                                    <div class="actions">
                                                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id}, data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p th:if="${session.user == null}">请登录后发表评论</p>
                        <form id="comment-form" th:if="${session.user != null}" action="" class="ui form">
                            <input type="hidden" name="blogId" th:value="${blog.id}">
                            <input type="hidden" name="parentComment.id" value="-1">
                            <input type="hidden" name="nickname" th:value="${session.user.nickname}">
                            <input type="hidden" name="email" th:value="${session.user.email}">
                            <input type="hidden" name="avatar" th:value="${session.user.avatar}">
                            <div class="required field">
                                <textarea name="content" placeholder="请输入评论信息..." cols="30" rows="10"></textarea>
                            </div>
                            <div class="field m-mobile-wide">
                                <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="two wide column"></div>
            </div>

        </div>
    </div>

    <div id="toTopButton" class="ui big circular icon button m-fixed m-right-bottom">
        <i class="chevron up icon"></i>
    </div>

    <!-- 底部元素 -->
    <footer th:replace="_fragments :: footer"></footer>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script th:src="@{/lib/prism/prism.js}"></script>
    <script th:src="@{/js/me.js}"></script>
    <script>
        $('.ui.form').form({
            fields : {
                content : {
                    identifier : 'content',
                    rules : [{
                        type : 'empty',
                        prompt : '请输入评论内容'
                    }]
                }
            }
        });

        $(function () {
            $("#comment-container").load("[[@{/comments/{id}(id=${blog.id})}]]");
        });

        $('#commentpost-btn').click(function () {
            var boo =  $('.ui.form').form('validate form');
            if(boo) {
                postDate();
            } else {
                console.log();
            }

        });

        function postDate() {
            $("#comment-container").load("/comments", {
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blogId" : $("[name='blogId']").val(),
                "nickname" : $("[name='nickname']").val(),
                "email" : $("[name='email']").val(),
                "avatar" : $("[name='avatar']").val(),
                "content" : $("[name='content']").val(),
            }, function (responseTxt, statusTxt, xhr) {
                clearContent();
            });
        }

        function clearContent() {
            $("[name='content']").val('').attr("placeholder", "请输入评论信息...");
            $("[name='parentComment.id']").val(-1);
        }
        
        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'), 500);

        }
        
    </script>
</body>
</html>