<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/me.css}">
</head>
<body>
    <!-- 导航栏 -->
    <nav th:replace="_fragments :: nav(1)"></nav>

    <!-- 中间内容 -->
    <div class="m-padding-tb-massive">
        <div class="ui container">
            <div class="ui stackable grid">
                <!-- left -->
                <div class="twelve wide column">
                    <!-- top -->
                    <div class="ui top attached segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <h2 class="ui teal header">博客</h2>
                            </div>
                            <div class="column right aligned">
                                共 <h2 class="ui orange header m-inline-block" th:text="${pageInfo.total}"> 14 </h2> 篇
                            </div>
                        </div>
                    </div>
                    <!-- mid -->
                    <div class="ui attached segment">
                        <div class="ui vertical segment m-padding-mid-part-item" th:each="blog : ${pageInfo.list}">
                            <div class="ui middle aligned stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header"><a th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}"></a></h3>
                                    <p class="m-text-spaced m-text-lined" th:text="${blog.description}">文章描述</p>
                                    <div class="ui middle aligned grid">
                                        <div class="eleven wide column">
                                            <div class="ui horizontal link list">
                                                <div class="item">
                                                    <img src="https://picsum.photos/id/237/100/100"  th:src="@{${blog.avatar}}" alt="" class="ui avatar image">
                                                    <div class="content"><a class="header" th:text="${blog.nickname}">wjw</a></div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                                        <i class="calendar icon"></i>
                                                        <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                                        <i class="eye icon"></i>
                                                        <span th:text="${blog.views}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="five wide column right aligned">
                                            <a style="padding: 0.3em" class="ui teal label" th:text="${blog.typeName}" >认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" target="_blank">
                                        <img th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bottom -->
                    <div class="ui bottom attached segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/(p=${pageInfo.hasPreviousPage} ? ${pageInfo.prePage} : 1)}"><i class="left chevron icon"></i></a>
                            </div>
                            <div class="column right aligned">
                                <a href="#" th:href="@{/(p=${pageInfo.hasNextPage} ? ${pageInfo.nextPage} : ${pageInfo.pages})}"><i class="right chevron icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right -->
                <div class="four wide column">
                    <!-- 分类 -->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">分类</div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/types/-1}" target="_blank">more<i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="ui fluid vertical menu">
                                <a  th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}"></span>
                                    <div class="ui teal basic left pointing label" th:text="${type.blogs.size()}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 标签 -->
                    <div class="ui segments m-margin-top-small">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">标签</div>
                                <div class="right aligned column">
                                    <a th:href="@{/tags/-1}">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui segment">
                            <a th:href="@{/tags/{id}(id=${tag.id})}" th:if="${tagStat.index} < 6" th:each="tag : ${tags}" class="ui teal basic label m-margin-mini">
                                <span th:text="${tag.name}"></span>
                                <div class="detail" th:text="${tag.blogs.size()}">10</div>
                            </a>
                        </div>
                    </div>

                    <div class="ui segments m-margin-top-small">
                        <div class="ui secondary segment">
                            最新推荐
                        </div>
                        <div class="ui segment" th:if="${recommendStat.index} < 10 and ${recommend.recommend} == true" th:each="recommend : ${recommends}">
                            <a href="#" th:href="@{/blog/{id}(id=${recommend.id})}" th:text="${recommend.title}" class="m-opacity-mid m-black">内容</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部元素 -->
    <footer th:replace="_fragments :: footer"></footer>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script th:src="@{/js/me.js}"></script>
</body>
</html>